.education {
  height: 20rem;
}

.title-wrap {
  justify-self: end;
  align-self: start;
}

.content-wrap {
  justify-self: start;
  align-self: center;
}

.content-point {
  font-size: 1.8rem;
  font-weight: 00;
  line-height: 1.5;
}
