.section-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  animation: showSection 1s ease-out forwards;
}

.education {
  /* height: 20rem; */
}

.title-wrap {
  grid-column: 2;
  justify-self: start;
}

.content-wrap {
  justify-self: start;
  align-self: center;
}

.content-point {
  font-size: 1.8rem;
  font-weight: 00;
  line-height: 1.5;
}
