.personal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  animation: showSection 1s ease-out forwards;
}

@keyframes showSection {
  0% {
    opacity: 0;
    transform: translateY(-20%);
  }

  50% {
    opacity: 0.5;
    transform: translateY(10%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.title-wrap {
  justify-self: end;
}

.content-wrap {
  justify-self: start;
  align-self: start;
  position: relative;
  list-style: none;
  padding: 0 0 1rem 0;
}

.content-wrap::before {
  content: "";
  width: 1px;
  background-color: var(--main-color);
  display: block;
  position: absolute;
  left: -2rem;
  top: 0;
  animation: showYLine 1s 2s ease-out forwards;
}

.content-wrap::after {
  content: "";
  height: 1px;
  background-color: var(--main-color);
  display: block;
  position: absolute;
  left: -2rem;
  bottom: 0;
  animation: showXLine 1s 3s ease-out forwards;
}

@keyframes showYLine {
  0% {
    height: 0%;
  }
  25% {
    height: 25%;
  }
  50% {
    height: 50%;
  }
  75% {
    height: 75%;
  }
  100% {
    height: 100%;
  }
}

@keyframes showXLine {
  0% {
    width: 0%;
  }
  25% {
    width: 25%;
  }
  50% {
    width: 50%;
  }
  75% {
    width: 75%;
  }
  100% {
    width: 110%;
  }
}

.show-personal-content {
  animation: showContent 2s ease-out forwards;
}

@keyframes showContent {
  0% {
    opacity: 0;
    height: 0rem;
  }

  25% {
    opacity: 0;
    max-height: 50px;
  }

  50% {
    opacity: 0;
    max-height: 100px;
  }

  75% {
    opacity: 0.5;
    max-height: 200px;
  }

  100% {
    opacity: 1;
    max-height: 300px;
  }
}

.hide-personal-content {
  animation: hideContent 0.5s ease-out forwards;
}

@keyframes hideContent {
  0% {
    opacity: 1;
    max-height: 100%;
  }

  25% {
    opacity: 0.5;
    max-height: 75%;
  }

  50% {
    opacity: 0;
    max-height: 50%;
  }

  75% {
    opacity: 0;
    max-height: 25%;
  }

  100% {
    opacity: 0;
    max-height: 0%;
  }
}

.content-point {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.5;
}
