.work {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  animation: showSection 1s ease-out forwards;
}

@keyframes showSection {
  0% {
    opacity: 0;
    transform: translateY(-20%);
  }

  50% {
    opacity: 0.5;
    transform: translateY(10%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.title-wrap {
  justify-self: end;
}

.position {
  
}
