.work {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  animation: showSection 1s ease-out forwards;
}

@keyframes showSection {
  0% {
    opacity: 0;
    transform: translateY(-20%);
  }

  50% {
    opacity: 0.5;
    transform: translateY(10%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.title-wrap {
  justify-self: end;
}

.position {
  font-size: 2.2rem;
  font-weight: 500;
  text-decoration: underline;
}

.position-time {
  font-weight: 500;
}

.list {
  list-style: none;
}
