* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-color: #0000a2;
}

html {
  font-size: 62.5%;
  font-family: "Roboto Mono", monospace;
}

main {
  max-width: 120rem;
  margin: 0 auto;
  position: relative;
}
