.title {
  font-size: 6rem;
  position: relative;
  background-color: transparent;
  border: none;
  font-weight: 700;
  font-family: inherit;
  margin-top: -1.5rem;
}

.title:hover {
  cursor: pointer;
  transform: scale(1.02);
  color: var(--main-color);
}

.title::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 5px;
  left: 0;
  height: 7px;
  width: 100%;
  background-color: var(--main-color);
}
